/* @override 
	http://joakimbergman.local/stylesheets/iphone.css?1265203756
	http://joakimbergman.local/stylesheets/iphone.css?1265203816
*/

html {
	margin: 10px;
	background: #000;
	font-size: 12px;
}

body {
	margin: 0;
	background: #000;
}

#twitter, #lyssna, #lastfm {
	display: none;
}