/* @override 
	http://joakimbergman/stylesheets/style.css
	http://joakimbergman/stylesheets/style.css?1254230272
*/

* {
	margin: 0;
	padding: 0;
}

body {
	color: white;
	background: #000 url("../images/cappuccino.jpg") no-repeat 50% 100px;
	width: 600px;
	margin: 100px auto 0 auto;
	position: relative;
	font: 62.5% monospace;
}

p#header {
	font-size: 1.6em;
}

a {
	color: #a58963;
}

a img {
	border: none;
}

/* @group twitter */

div#twitter {
	position: absolute;
	top: 122px;
	left: 43px;
}

div#twitter a, div#twitter .message .top, div#twitter .message .bottom, div#twitter .message .topleft, div#twitter .message .topright, div#twitter .message .bottomleft, div#twitter .message .bottomright {
	background: url("../images/twitter.png");
}

div#twitter a {
	width: 48px;
	height: 42px;
	display: block;
	background-position: left top;
}

div#twitter a:hover {
	background-position: -48px 0px;
}

div#twitter .message {
	z-index: 1;
	opacity: 0;
	filter: alpha(opacity=0);
	position: relative;
	margin-top: -45px;
	margin-left: 54px;
	max-width: 400px;
	-webkit-transition: opacity 0.25s ease-in-out;
}

div#twitter:hover .message {
	filter: alpha(opacity=100);
	opacity: 0.97;
}

div#twitter .message .body {
	padding: 9px 9px 9px 18px;
	text-shadow: #a4a4a4 2px 2px 2px;
	color: #2f2f2f;
	font: 1.1em "Helvetica Neue", helvetica, sans-serif;
}

div#twitter .message .topleft, div#twitter .message .top, div#twitter .message .topright, div#twitter .message .left, div#twitter .message .middle, div#twitter .message .right, div#twitter .message .bottomleft, div#twitter .message .bottom, div#twitter .message .bottomright {
	position: absolute;
	z-index: -1;
}

div#twitter .message .top, div#twitter .message .bottom {
	right: 10px;
	left: 20px;
	background-repeat: repeat-x;
}

div#twitter .message .topleft, div#twitter .message .topright, div#twitter .message .bottomleft, div#twitter .message .bottomright {
	background-repeat: no-repeat;
}

div#twitter .message .left, div#twitter .message .right {
	top: 14px;
	bottom: 15px;
}

div#twitter .message .topleft, div#twitter .message .top, div#twitter .message .topright {
	height: 14px;
	top: 0;
}

div#twitter .message .topleft {
	width: 20px;
	left: 0;
	background-position: -96px top;
}

div#twitter .message .top {
	background-position: left -48px;
}

div#twitter .message .topright {
	width: 10px;
	right: 0;
	background-position: right top;
}

div#twitter .message .left {
	width: 20px;
	left: 9px;
	top: 14px;
	bottom: 15px;
	border-left: 1px solid #ccc;
	background-color: #f2f2f2;
}

div#twitter .message .middle {
	left: 20px;
	right: 10px;
	top: 13px;
	bottom: 15px;
	background-color: #f2f2f2;
}

div#twitter .message .right {
	width: 14px;
	right: 0;
	top: 14px;
	bottom: 15px;
	border-right: 1px solid #ccc;
	background-color: #f2f2f2;
}

div#twitter .message .bottomleft {
	width: 20px;
	height: 15px;
	bottom: 0;
	left: 0;
	background-position: -96px -13px;
}

div#twitter .message .bottom {
	height: 15px;
	bottom: 0;
	background-position: right bottom;
}

div#twitter .message .bottomright {
	width: 10px;
	height: 15px;
	bottom: 0;
	right: 0;
	background-position: right -13px;
}

/* @end */

/* @group lyssna */

div#lyssna {
	position: absolute;
	top: 250px;
	left: 0px;
	font-size: 1.4em;
}

div#lyssna ul#lastfm li {
	display: inline;
	list-style: none;
}

div#lyssna ul#lastfm li img {
	opacity: 0.05;
	margin: 9px;
	-webkit-transition-property: opacity, -webkit-box-shadow;
	-webkit-transition-duration: 0.4s;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-box-shadow: #a58963 0 0 10px, #a58963 0 0 10px, #a58963 0 0 10px, #a58963 0 0 5px, #a58963 0 0 10px;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
}

div#lyssna ul#lastfm li img:hover {
	opacity: 0.9;
}

/* @end */

