body {
	color: white;
	background: #000 url("../images/cappuccino.jpg") no-repeat 50% 50px;
	width: 600px;
	margin: 100px auto 0 auto;
	position: relative;
	font: 62.5%/2em "Helvetica Neue", helvetica, arial, sans-serif;
	font-weight: lighter;
  text-rendering: optimizeLegibility;
}

a {
	color: #a58963;
}

a img {
	border: none;
}

h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1.3em;
}

p {
	font-size: 1.2em;
}

p + h2 {
	margin-top: 2em;
}

p + p {
  margin-top: 2em;
}

.ampersand {
	font: italic 1.4em Baskerville, Palatino, Constantia, "Book Antiqua", serif;
}

/* @group twitter */

div#twitter {
	position: absolute;
	top: 72px;
	left: 43px;
}

div#twitter a#twitter_link, div#twitter .message .top, div#twitter .message .bottom, div#twitter .message .topleft, div#twitter .message .topright, div#twitter .message .bottomleft, div#twitter .message .bottomright {
	background: url("../images/twitter.png");
}

div#twitter a#twitter_link {
	width: 48px;
	height: 42px;
	display: block;
	background-position: left top;
}

div#twitter:hover a#twitter_link {
	background-position: -48px 0px;
}

div#twitter .message {
	display: none;
	position: relative;
	margin-top: -57px;
	margin-left: 54px;
	max-width: 440px;
}

div#twitter:hover .message {
	display: block;
}

div#twitter .message .body {
	padding: 9px 9px 9px 18px;
	text-shadow: rgba(201,201,201,0.84) 1px 1px 1px;
	color: #383838;
	font-size: 12px;
}

div#twitter .message .body a {
	color: #8d7140;
	text-decoration: none;
	text-shadow: #d3d3d3 1px 1px 1px;
}

div#twitter .message .body a:hover {
	text-decoration: underline;
}

div#twitter .message .body .hash {
	color: #777;
}

div#twitter .message .topleft, div#twitter .message .top, div#twitter .message .topright, div#twitter .message .left, div#twitter .message .middle, div#twitter .message .right, div#twitter .message .bottomleft, div#twitter .message .bottom, div#twitter .message .bottomright {
	position: absolute;
	z-index: -1;
}

div#twitter .message .top, div#twitter .message .bottom {
	right: 10px;
	left: 20px;
	background-repeat: repeat-x;
}

div#twitter .message .topleft, div#twitter .message .topright, div#twitter .message .bottomleft, div#twitter .message .bottomright {
	background-repeat: no-repeat;
}

div#twitter .message .left, div#twitter .message .right {
	top: 14px;
	bottom: 15px;
}

div#twitter .message .topleft, div#twitter .message .top, div#twitter .message .topright {
	height: 14px;
	top: 0;
}

div#twitter .message .topleft {
	width: 20px;
	left: 0;
	background-position: -96px top;
}

div#twitter .message .top {
	background-position: left -42px;
}

div#twitter .message .topright {
	width: 10px;
	right: 0;
	background-position: right top;
}

div#twitter .message .left {
	width: 20px;
	left: 9px;
	top: 14px;
	bottom: 15px;
	border-left: 1px solid #ccc;
	background-color: #f2f2f2;
}

div#twitter .message .middle {
	left: 20px;
	right: 10px;
	top: 13px;
	bottom: 15px;
	background-color: #f2f2f2;
}

div#twitter .message .right {
	width: 14px;
	right: 0;
	top: 14px;
	bottom: 15px;
	border-right: 1px solid #ccc;
	background-color: #f2f2f2;
}

div#twitter .message .bottomleft {
	width: 20px;
	height: 15px;
	bottom: 0;
	left: 0;
	background-position: -96px -13px;
}

div#twitter .message .bottom {
	height: 15px;
	bottom: 0;
	background-position: right bottom;
}

div#twitter .message .bottomright {
	width: 10px;
	height: 15px;
	bottom: 0;
	right: 0;
	background-position: right -13px;
}

/* @end */

/* @group lyssna */

div#lyssna {
	position: absolute;
	top: 170px;
}

div#lyssna ul#lastfm li {
	display: inline;
}

div#lyssna ul#lastfm li a {
	display: block;
	float: left;
	width: 126px;
	height: 126px;
	margin: 12px;
	-webkit-transition: -webkit-transform 1s linear; /*ease-in-out*/
	-webkit-border-radius: 63px;
	-moz-border-radius: 63px;
	color: #000;
	color: rgba(0,0,0,0.55);
	text-decoration: none;
	text-shadow: #000 0 0 1px;
	text-align: right;
	overflow: hidden;
	line-height: 140px;
	font-size: 200px;
}

@-webkit-keyframes spin {
  from {
	left: 0px;
	-webkit-transform: rotate(0deg);
  }
  to {
	left: 20px;
	-webkit-transform: rotate(360deg);
  }
}

div#lyssna ul#lastfm li a:hover {
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: spin;
	  -webkit-animation-direction: normal; /* default is normal. use 'alternate' to reverse direction */
  -webkit-animation-timing-function: linear;
}

/* @end */

