<% content_for :tweet do %>
  <%= auto_link(@tweet.text).gsub(/\B@(\w+)/, '@<a href="http://twitter.com/\1">\1</a>').gsub(/\B#(\w+)/, '<span class="hash">#\1</span>') %>
<% end %>
<% content_for :lastfm do %>
  <ul id="lastfm">
    <% @artists.each_with_index do |artist, rank| %>
      <% content_tag_for :li, artist do %>
        <%= link_to rank + 1, artist.url, :title => artist.name, :style => "background-image: url('#{artist.image}')" %>
      <% end %>
    <% end %>
  </ul>
<% end %>
