/* @override http://joakimbergman.se/stylesheets/style.css */

* {
	margin: 0;
	padding: 0;
}

body {
	color: white;
	background: #000 url("../images/cappuccino.jpg") no-repeat 50% 100px;
	width: 600px;
	margin: 100px auto 0 auto;
	position: relative;
	font-size: 62.5%;
}

p#content {
	font: 1.6em monospace;
}

a {
	color: #a58963;
}

/* @group twitter */

div#twitter {
	position: absolute;
	top: 122px;
	left: 43px;
}

div#twitter a {
	width: 48px;
	height: 42px;
	display: block;
	background: url("../images/twitter.png") left top;
}

div#twitter a:hover {
	background-position: -48px 0px;
}

.message {
	display: none;
	position: relative;
	top: -45px;
	left: 54px;
	max-width: 400px;
}

div#twitter:hover .message {
	display: block;
}

.message .body {
	padding: 9px 9px 9px 18px;
	text-shadow: #a4a4a4 2px 2px 2px;
	color: #2f2f2f;
	font: 1.1em "Helvetica Neue", helvetica, sans-serif;
}

.message .topleft, .message .top, .message .topright, .message .left, .message .middle, .message .right, .message .bottomleft, .message .bottom, .message .bottomright {
	position: absolute;
	z-index: -1;
}

.message .top, .message .bottom {
	background: url("../images/bubbla_top_bottom.png") repeat-x;
	right: 10px;
	left: 20px;
}

.message .topleft, .message .topright, .message .bottomleft, .message .bottomright {
	background: url("../images/twitter.png") no-repeat;
}

.message .left, .message .right {
	background: url("../images/bubbla_left_right.png") top repeat-y;
	top: 14px;
	bottom: 15px;
}

.message .topleft, .message .top, .message .topright {
	height: 14px;
	top: 0;
}

.message .topleft {
	width: 20px;
	left: 0;
	background-position: -96px top;
}

.message .top {
	background-position: left top;
}

.message .topright {
	width: 10px;
	right: 0;
	background-position: right top;
}

.message .left {
	width: 20px;
	left: 9px;
	top: 14px;
	bottom: 15px;
	background-position: left;
}

.message .middle {
	background: url("../images/bubbla_middle.png") top left repeat;
	left: 20px;
	right: 10px;
	top: 13px;
	bottom: 15px;
}

.message .right {
	width: 14px;
	right: 0;
	top: 14px;
	bottom: 15px;
	background-position: right;
}

.message .bottomleft {
	width: 20px;
	height: 15px;
	bottom: 0;
	left: 0;
	background-position: -96px -13px;
}

.message .bottom {
	height: 15px;
	bottom: 0;
	background-position: right bottom;
}

.message .bottomright {
	width: 10px;
	height: 15px;
	bottom: 0;
	right: 0;
	background-position: right -13px;
}

/* @end */

