/* @override http://joakimbergman.se/stylesheets/style.css */

* {
	margin: 0;
	padding: 0;
}

body {
	color: white;
	font-family: monospace;
	background: #000 url("../images/cappuccino.jpg") no-repeat 50% 100px;
	width: 600px;
	margin: 100px auto 0 auto;
	position: relative;
}

a {
	color: #a58963;
}

/* @group twitter */

div#twitter {
	position: absolute;
	top: 122px;
	left: 43px;
}

div#twitter a {
	width: 48px;
	height: 42px;
	display: block;
	background: url("../images/twitter.png") 0 0;
}

div#twitter a:hover {
	background-position: 48px 0;
}

.message {
	display: none;
	position: relative;
	bottom: 50px;
	left: 54px;
	max-width: 400px;
}

div#twitter:hover .message {
	display: block;
}

.message .body {
	padding: 9px 9px 9px 18px;
	/*word-wrap: break-word;*/
	text-shadow: #ccc 0px 1px 1px;
	/*overflow: auto;*/
	color: #333;
	font: 11px "Helvetica Neue", helvetica, sans-serif;
}

.message .time {
	font-size: 9px;
	position: absolute;
	bottom: -2px;
	text-align: center;
	width: 100%;
	color: #c7c7c7;
	visibility: hidden;
}

.message:hover .time {
	visibility: visible;
}

.message .topleft {
	background: url("../images/bubbla.png") top left no-repeat;
	width: 24px;
	height: 14px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.message .top {
	background: url("../images/bubbla_top_bottom.png") top right repeat-x;
	height: 14px;
	position: absolute;
	top: 0px;
	right: 14px;
	left: 24px;
	z-index: -1;
}

.message .topright {
	background: url("../images/bubbla.png") no-repeat right top;
	width: 14px;
	height: 16px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
}

.message .left {
	background: url("../images/bubbla_left_right.png") top left repeat-y;
	width: 24px;
	position: absolute;
	left: 10px;
	top: 14px;
	bottom: 15px;
	z-index: -1;
}

.message .middle {
	background: url("../images/bubbla_middle.png") top left repeat;
	position: absolute;
	left: 24px;
	right: 14px;
	top: 13px;
	bottom: 15px;
	z-index: -1;
}

.message .right {
	background: url("../images/bubbla_left_right.png") top right repeat-y;
	width: 14px;
	position: absolute;
	right: 0px;
	top: 14px;
	bottom: 15px;
	z-index: -1;
}

.message .bottomleft {
	background: url("../images/bubbla.png") no-repeat left bottom;
	width: 24px;
	height: 15px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: -1;
}

.message .bottom {
	background: url("../images/bubbla_top_bottom.png") bottom right repeat-x;
	height: 15px;
	position: absolute;
	bottom: 0px;
	right: 14px;
	left: 24px;
	z-index: -1;
}

.message .bottomright {
	background: url("../images/bubbla.png") no-repeat right bottom;
	width: 14px;
	height: 15px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: -1;
}

/* @end */

