<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
      Joakim Bergman
    </title>
    <%= stylesheet_link_tag "reset", "style", :cache => true %>
    <%= stylesheet_link_tag "iphone", :media => 'only screen and (max-device-width: 480px)' %>
  </head>
  <body>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-882149-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();
    </script>
    <div id="header">
      <h1>I am a <abbr>Developer</abbr> <span class="ampersand">&amp;</span> <abbr>DJ</abbr> living in Stockholm, Sweden.</h1>
      <p>
        Take a look at my <a href="http://www.csc.kth.se/~joab/cv-joakimbergman.pdf" title="CV">CV</a>.
      </p>
    </div>
    <div id="twitter">
      <a href="http://twitter.com/gipset" id="twitter_link" name="twitter_link"></a>
      <div class="message">
        <div class="topleft"></div>
        <div class="top"></div>
        <div class="topright"></div>
        <div class="time"></div>
        <div class="body">
          <%= yield :tweet %>
        </div>
        <div class="left"></div>
        <div class="middle"></div>
        <div class="right"></div>
        <div class="bottomleft"></div>
        <div class="bottom"></div>
        <div class="bottomright"></div>
      </div>
    </div>
    <div id="lyssna">
      <h2>Listen to me</h2>
      <p>
        A short house mix I recorded on November 6th last year. Check it out on <a href="http://soundcloud.com/gipset/short-house-mix">SoundCloud</a>. It contains none of the artists listed below since records do not scrobble that well.
        <div class="soundcloud">
          <object height="81" width="100%">
            <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Fgipset%2Fshort-house-mix&amp;show_comments=true&amp;auto_play=false&amp;color=a58963"></param>
            <param name="allowscriptaccess" value="always"></param>
            <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fsoundcloud.com%2Fgipset%2Fshort-house-mix&amp;show_comments=true&amp;auto_play=false&amp;color=a58963" type="application/x-shockwave-flash" width="100%"></embed>
          </object>
        </div>
      </p>
      <h2>What I listen to, according to <a href="http://last.fm/user/jockebab/"><img src="/images/lastfm.png" alt="last.fm" title="last.fm"></a></h2>
      <p>
        <%= yield :lastfm %>
      </p>
    </div>
  </body>
</html>
